<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><a href="../app">Appetizers</a></h1>
    {% for appetizer in app_records %}
    <h2>{{ appetizer.name }} ${{ appetizer.price }}</h2>
    <form action="{% url 'menu:update_app' appetizer.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="delete" value="PUT">Edit</button>
    </form>
    <form action="{% url 'menu:delete_app' appetizer.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="delete" value="DELETE">Delete</button>
    </form>
    {% endfor %}

    <h1><a href="../main">Main Course</a></h1>
    {% for main_course in main_records %}
    <h2>{{ main_course.name }} ${{ main_course.price }}</h2>
    <form action="{% url 'menu:update_main' main_course.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="delete" value="PUT">Edit</button>
    </form>
    <form action="{% url 'menu:delete_main' main_course.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="delete" value="DELETE">Delete</button>
    </form>
    {% endfor %}

    <h1><a href="../dessert">Desserts</a></h1>
    {% for dessert in dessert_records %}
    <h2>{{ dessert.name }} ${{ dessert.price }}</h2>
    <form action="{% url 'menu:update_dessert' dessert.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="delete" value="PUT">Edit</button>
    </form>
    <form action="{% url 'menu:delete_dessert' dessert.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="delete" value="DELETE">Delete</button>
    </form>
    {% endfor %}
    <form action="{% url 'menu:create_main' %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="delete" value="POST">Create +</button>
    </form>
  </body>
</html>
